.AboutPage-text {
    margin-bottom: 20px;
}

.Aboutpage-list {
    overflow: hidden;
    text-align: center;
}

.AboutPage-item {
    display: inline-block;
    list-style: none;
    text-align: center;
    width: 20%;
}

.AboutPage-toolsList {
    margin: 0 0 40px 40px;
}
.AboutPage-toolsList--item {
    list-style: inside circle
}
