.AuthorPage-text {
    margin-bottom: 20px;
}

.AuthorPage-list {
    overflow: hidden;
}

.AuthorPage-item--social {
    float: left;
    list-style: none;
    text-align: center;
    width: 20%;
}

.AuthorPage-item--image {
    display: inline-block;
    width: 90%;
}
