.AuthorPage-text {
    margin-bottom: 20px;
}

.AuthorPage-list {
    overflow: hidden
}

.AuthorPage-item--social {
    float: left;
    width: 20%;
    list-style: none;
    text-align: center;
}

.AuthorPage-item--image {
    display: inline-block;
    width: 90%;
}