*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #005293;
}

p,
li {
    line-height: 25px;
}

.u-hidden {
    display: none;
}

.is-active {
    box-shadow: #999 0 0 30px;
}

.Header {
    background-color: #ccc;
    border-bottom: 1px #999 solid;
    height: 80px;
    padding: 10px;
    width: 100%;
}

.Header-brand {
    color: #333;
    display: inline-block;
    font-family: 'Megrim', cursive;
    font-size: 60px
}

.Header-logo {
    height: 100%;
    vertical-align: top;
}

.Navigation{
    height: 50px;
    position: relative;
    float: right;
}

.Navigation-item{
    display: inline-block;
    list-style: none;
    padding: 10px;
    border-left: 1px solid #666;
}

.Navigation-item:first-child{
    border: none;
}

.Navigation-item--link {
    font-size: 30px;
}

.Navigation-item--link:hover {
    color:#333
}

.Navigation-item--icon {
    width: 30px;
    vertical-align: middle;
}

.Info-title,
.Info-title--points,
.Info-title--Areas {
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
}

.AboutPage--wrap,
.AuthorPage--wrap,
.TutorialPage--wrap {
    width: 58%;
    margin: 40px auto;
}

.AboutPage-title,
.AuthorPage-title,
.TutorialPage-title {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}


.Aboutpage-list,
.AuthorPage-list,
.Info-content--list,
.TutorialPage-list {
    margin: 0 auto 40px;
}

.Button--back,
.Button--reset {
    background-color: red;
    bottom: 20px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
}

.Button--back{
    width: 250px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 25px;
    }

    p,
    li {
        line-height: 35px;
    }

    .Header {
        max-height: 60px;
        padding: 5px;
    }

    .Header-brand {
        font-size: 38px;
    }

    .Navigation-item {
        padding: 5px;
    }
    .Navigation-item--link {
        font-size: 24px;
    }

    .Navigation-item--icon {
        width: 24px;
    }

    .Info-title,
    .Info-title--points,
    .Info-title--Areas {
        font-size: 35px;
    }

    .AboutPage--wrap,
    .AuthorPage--wrap,
    .TutorialPage--wrap {
        width: 80%;
    }
}

@media screen and (max-width: 640px) {
    body {
        font-size: 18px;
    }

    p,
    li {
        line-height: 30px;
    }

    .Header {
        max-height: 60px;
        padding: 5px;
    }

    .Header-brand{
        font-size: 34px;
    }

    .Navigation-item--link {
        font-size: 20px;
    }

    .Navigation-item--icon {
        width: 20px;
    }

    .Info-title,
    .Info-title--points,
    .Info-title--Areas {
        font-size: 25px;
    }
}

@media screen and (orientation: portrait) and (max-width: 767px){
    .Navigation,
    .Info {
        display: none;
    }
}
