.Info {
    float: left;
    width: 25%;
    padding: 20px 10px;
    position: relative;
    overflow: hidden;
    height: calc(100% - 80px);
    line-height: 20px;

}
.Info-content--list{
    margin-bottom: 25px;
}

li[class^="Info-content"] {
    list-style: inside none;
}

li[class^="Info-content--point"] {
    list-style-type: decimal;
}

.Button--reset{
    position: absolute;
    width: calc(100% - 20px);
}

.Board {
    background-color: #eeeeee;
    display: inline-block;
    width: 75%;
    height: calc(100% - 80px);

    background-color: #f1f2f3;
    background-image:
      -webkit-linear-gradient(0deg, transparent .05em, rgba(0,0,0,.05) .05em, rgba(0,0,0,.05) .125000em, transparent .125000em),
      -webkit-linear-gradient(rgba(0,0,0,.05) .062500em, transparent .062500em);
    background-image:
      -moz-linear-gradient(0deg, transparent .05em, rgba(0,0,0,.05) .05em, rgba(0,0,0,.05) .125000em, transparent .125000em),
      -moz-linear-gradient(rgba(0,0,0,.05) .062500em, transparent .062500em);
    background-image:
      -ms-linear-gradient(0deg, transparent .05em, rgba(0,0,0,.05) .05em, rgba(0,0,0,.05) .125000em, transparent .125000em),
      -ms-linear-gradient(rgba(0,0,0,.05) .062500em, transparent .062500em);
    background-image:
      -o-linear-gradient(0deg, transparent .05em, rgba(0,0,0,.05) .05em, rgba(0,0,0,.05) .125000em, transparent .125000em),
      -o-linear-gradient(rgba(0,0,0,.05) .062500em, transparent .062500em);
    background-image:
      linear-gradient(0deg, transparent .05em, rgba(0,0,0,.05) .05em, rgba(0,0,0,.05) .125000em, transparent .125000em),
      inear-gradient(rgba(0,0,0,.05) .062500em, transparent .062500em);
    background-size: .75em .75em;
    background-position: 0 -0.5em;
}

