*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

[class*="brand"]{
    font-family: 'Megrim', cursive;
    font-size: 140px
}

