.TutorialPage-intro  {
    text-align: center;
    margin-bottom: 40px;
}

.TutorialPage-list {
    width: 80%;
}

.TutorialPage-item--step{
    margin-bottom: 20px;
    list-style: inside decimal;
}


@media screen and (max-width: 768px) {
    .TutorialPage-list {
        width: 80%;
    }

}
