.TutorialPage--Wrap {
    width: 70%;
    margin: 40px auto;
}
.TutorialPage-intro  {
    text-align: center;
    margin-bottom: 40px;
}

.TutorialPage-list {
    width: 80%;
    margin: 0px auto 40px;

}

.TutorialPage-item--step{
    margin-bottom: 20px;
    list-style: inside decimal;
}

.Button--back{
    width: 250px;
    margin: 0px auto;
}
